/*
 * Typography
 *========================================
 */

h1 {
  font-family: map-get($type, 'header');
  font-size: rem(96);
  line-height: 1;
  margin: 0 0 rem(16);
}

h2 {
  font-size: 1rem;
  font-weight: normal;
  margin: rem(16) 0 rem(8);
}

p {
  margin: rem(16) 0 0;
}