/*
 * Mixins
 *========================================
 */

@mixin on($value) {
  $em: $value / 16 + em;
  @media all and (min-width: $em) {
    @content;
  }
}

@mixin onh($value) {
  $em: $value / 16 + em;
  @media all and (min-height: $em) {
    @content;
  }
}

@mixin onxh($value) {
  $em: $value / 16 + em;
  @media all and (max-height: $em) {
    @content;
  }
}
