/*
 * Button
 *========================================
 */

.button-wrap {
  bottom: rem(10);
  left: rem(10);
  position: fixed;
  right: rem(10);
  z-index: 11;
}
@include on(720) {
  .button-wrap {
    bottom: auto;
    display: inline-block;
    font-size: rem(20);
    left: auto;
    position: relative;
  }
}

@include on(960) {
  .button-wrap {
    font-size: rem(24);
  }
}

.button-sheen {
  overflow: hidden;
  position: relative;
  transition: .3s;
  z-index: 1;

  &:before,
  &:after {
    background: map-get($palette, 'white');
    content: '';
    height: 60%;
    left: 45%;
    opacity: 0.4;
    position: absolute;
    top: -60%;
    transform: rotate(45deg);
    width: rem(4);
    z-index: 2;
  }
  &:after {
    left: 50%;
  }

  &:hover,
  &:focus {
    &:before,
    &:after {
      // top: 100%;
      transition: all .5s;
      transform: rotate(45deg) translateY(400%);
    }
    &:after {
      transition-delay: 0.1s;
    }
  }

  &:active {
    transform: translateY(4px);
    transition-duration: 0.1s;
  }
}

.button {
  background: linear-gradient(135deg, map-get($palette, 'purple') 0%, map-get($palette, 'pink') 50%, map-get($palette, 'purple') 100%);
  background-size: 200% 100%;
  clip-path: polygon(
    8px 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    0% calc(100% - 8px),
    0% 8px
  );
  display: block;
  font-size: rem(20);
  padding: rem(4);
  position: relative;
  text-transform: uppercase;
  transition: .3s;
  width: 100%;
  z-index: 1;

  &:hover,
  &:focus {
    background-position: 100%;
  }
}

@include on(720) {
  .button {
    display: block;
    width: auto;
  }
}

.button__inner {
  background: linear-gradient(135deg, map-get($palette, 'pink') 0%, map-get($palette, 'pink') 8%, map-get($palette, 'yellow') 50%, map-get($palette, 'pink') 100%);
  background-repeat: repeat;
  background-size: 200% 100%;
  clip-path: polygon(
    6px 0%,
    calc(100% - 6px) 0%,
    100% 6px,
    100% calc(100% - 6px),
    calc(100% - 6px) 100%,
    6px 100%,
    0% calc(100% - 6px),
    0% 6px
  );
  display: block;
  padding:rem(13) rem(20);
  text-align: center;
  transition: .3s;

  @include on(720) {
    padding: rem(29) rem(32);
  }

  @include on(1060) {
    padding: rem(13) rem(32) rem(13) rem(20);
  }
}


.button:hover,
.button:focus {
  .button__inner {
    background-position: 100% 0;
  }
}

.button__image {
  display: inline-block;
  vertical-align: middle;
  width: rem(32);
}

.button__text {
  display: inline-block;
  padding-left: rem(16);
  vertical-align: middle;
}

@include on(720) {
  .button__image {
    display: none;
    width: rem(64);
  }
  .button__text {
    padding-left: 0;
  }
}
@include on(1060) {
  .button__image {
    display: inline-block;
  }
  .button__text {
    padding-left: rem(16);
  }
}

.button-shadow {
  background: rgba(map-get($palette, 'purple'), 0.15);
  clip-path: polygon(
    8px 0%,
    calc(100% - 8px) 0%,
    100% 8px,
    100% calc(100% - 8px),
    calc(100% - 8px) 100%,
    8px 100%,
    0% calc(100% - 8px),
    0% 8px
  );
  height: 100%;
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
}
