.cv {
  margin-bottom: rem(48);

  .text-link {
    color: map-get($palette, 'white');

    &:before {
      background: map-get($palette, 'purple');
    }
    &:after {
      background: map-get($palette, 'pink');
    }

    &:hover,
    &:focus {
      color: map-get($palette, 'purple');

      &:before {
        background: map-get($palette, 'yellow');
        transform: translateY(0);
      }
      &:after {
        background: map-get($palette, 'yellow');
        transform: translateY(0);
      }
    }

    &:active {
      color:map-get($palette, 'purple');
    }
  }
}

.cv__meta {
  border: 4px solid map-get($palette, 'purple');
  clip-path: polygon(
    4px 0%,
    calc(100% - 4px) 0%,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    0% calc(100% - 4px),
    0% 4px
  );
  font-size: rem(20);
  position: relative;

  &:before {
    height: rem(4);
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: rem(-2);
    background: map-get($palette, 'purple');
  }

  @include on(420) {
    &:before {
      width: rem(4);
      height: 100%;
      left: 50%;
      top: 0;
      margin-left: rem(-2);
      margin-top: 0;
    }
  }
}

.cv__timespan,
.cv__job-title {
  padding: rem(8);
  text-align: center;

  @include on(420) {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
  }
}

.cv__skillset {
  margin: rem(16) rem(0) rem(0) rem(-8);
}

.cv__skill {
  display: inline-block;
  margin: rem(8);
  position: relative;
}

.cv__skill-name {
  background: map-get($palette, 'yellow');
  clip-path: polygon(
    4px 0%,
    calc(100% - 4px) 0%,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    0% calc(100% - 4px),
    0% 4px
  );
  color: map-get($palette, 'purple');
  display: block;
  font-size: rem(16);
  padding: rem(4) rem(8);
  position: relative;
  z-index: 1;
}

.cv__skill-shadow {
  background: linear-gradient(135deg, map-get($palette, 'green') 0%, map-get($palette, 'pink') 100%);
  clip-path: polygon(
    4px 0%,
    calc(100% - 4px) 0%,
    100% 4px,
    100% calc(100% - 4px),
    calc(100% - 4px) 100%,
    4px 100%,
    0% calc(100% - 4px),
    0% 4px
  );
  content: '';
  position: absolute;
  left: rem(4);
  top: rem(4);
  height: 100%;
  width: 100%;
}
