/*
 * Footer
 *========================================
 */

.footer {
  display: flex;
  width: 100%;
}

.ghost {
  background: image-url('polygon.svg');
  background-size: cover;
  display: flex;
  height: rem(176);
  justify-content: center;
  margin-left: auto;
  width: rem(176);
}

.ghost__jacques {
  align-self: center;
  height: rem(128);
  width: rem(128);
}

.colophon {
  align-self: center;
  flex: 1;
  margin-left: rem(176);
  text-align: center;
}