/*
 * Footer
 *========================================
 */

.footer {
  display: flex;
  flex-direction: row;
  padding-bottom: rem(64);
  width: 100%;
}

.ghost {
  align-self: flex-end;
  background: image-url('polygon.svg');
  background-size: cover;
  display: flex;
  height: rem(88);
  justify-content: center;
  margin-left: auto;
  width: rem(88);
}

.ghost__jacques {
  align-self: center;
  height: rem(64);
  width: rem(64);
}

@include on(640) {
  .ghost {
    height: rem(176);
    width: rem(176);
  }
  .ghost__jacques {
    height: rem(128);
    width: rem(128);
  }
}

.colophon {
  align-self: center;
  flex: 1;
  padding-top: rem(16);
  text-align: left;
}

.colophon__link {
  color: map-get($palette, 'purple');
  display: block;
  padding: 0 0 rem(16);
  width: 100%;

  &:last-child {
    padding-bottom: 0;
  }

  @include on(640) {
    display: inline-block;
    min-width: 15%;
    padding: 0 rem(16);
    width: auto;
  }
}

.colophon__text {
  display: inline-block;
  font-size: rem(16);
  padding-left: rem(8);
  position: relative;
  text-decoration: none;
  vertical-align: middle;

  @include on(640) {
    display: block;
    font-size: rem(20);
  }

  @include on(960) {
    font-size: rem(24);
  }

  &:before,
  &:after {
    bottom: 5%;
    content: '';
    position: absolute;
    top: 5%;
    transition: .3s;
    width: 47%;
    z-index: -1;
  }

  &:before {
    background: map-get($palette, 'green');
    left: 5%;
    transform: translateY(4px);
  }
  &:after {
    background: map-get($palette, 'yellow');
    left: 49%;
    transform: translateY(-4px);
  }
}

.colophon__link {
  &:hover,
  &:focus {
    color: map-get($palette, 'white');
    outline: none;

    .colophon__text {
      &:before {
        background: map-get($palette, 'purple');
        transform: translateY(0);
      }
      &:after {
        background: map-get($palette, 'purple');
        transform: translateY(0);
      }
    }
  }

  &:active {
    color:map-get($palette, 'white');
    outline: none;
    transition-duration: 0.1s;

    .colophon__text {
      &:before,
      &:after {
        width: 35%;
      }
      &:before {
        left: 15%;
      }
      &:after {

      }
    }
  }
}

.colophon__image {
  display: inline-block;
  transition: .3s;
  vertical-align: middle;
}

.colophon__link {
  &:hover,
  &:focus {
    .colophon__image {
      transform: translateY(-25%);
    }
  }
}

@include on(640) {
  .colophon__image {
    display: block;
    margin: 0 auto rem(16);
  }
}

@include on(720) {
  .footer {
    padding-bottom: 0;
  }
}

@include on(960) {
  .colophon {
    margin-left: rem(176);
    text-align: center;
  }
}