/*
 * Header
 *========================================
 */

.logo {
  background: image-url('polygon.svg');
  background-size: cover;
  display: flex;
  height: rem(80);
  justify-content: center;
  width: rem(80);
}

.logo__image {
  align-self: center;
  height: rem(40);
  width: rem(40);
}

@include on(640) {
  .logo {
    height: rem(160);
    width: rem(160);
  }

  .logo__image {
    height: rem(80);
    width: rem(80);
  }
}

@include onxh(760) {
  .logo {
    height: rem(80);
    width: rem(80);
  }

  .logo__image {
    height: rem(40);
    width: rem(40);
  }
}
