---
title: MRCTHMS | Marc Thomas - Front-end developer and digital designer based in Hackney, London
---

<div class="[ grid-wrap ] hiii-nerds">
  <div class="[ grid ]">
    <div class="[ grid__col grid__col--two-thirds ]">
      <h1>Hey, I'm Marc</h1>
      <h2>Digital designer &amp; front-end developer</h2>
      <p>Currently making magical bedtimes at <a href="http://lostmy.name" rel="nofollow">Lost My Name</a></p>
    </div><!--
 --><div class="[ grid__col grid__col--one-third align-right ]">
      <div class="button-wrap">
        <a href="mailto: hello@mrcthms.com" class="button">
          <span class="button__inner">
            <%= image_tag "contact.svg", width: 64, class: "button__image", alt: "" %>
            <span class="button__text">Get in touch</span>
          </span>
        </a>
        <div class="button-shadow"></div>
      </div>
    </div>
  </div>
</div><!-- .welcome -->