---
title: MRCTHMS | Marc Thomas - Front-end developer and digital designer based in Leeds, Yorkshire
---

<div class="[ grid-wrap ] hiii-nerds">
  <div class="[ grid ]">
    <div class="[ grid__col grid__col--two-thirds ]">
      <h1>Hey, I'm Marc</h1>
      <h2>Digital designer &amp; front-end developer.</h2>
    </div>
    <div class="[ grid__col grid__col--one-third align-right ]">
      <div class="button-wrap">
        <div class="button-sheen">
          <a href="mailto:hello@mrcthms.com?subject=MRCTHMS%20Website%20Enquiry&body=Let%27s%20talk%20about%20Marc%2C%20baby." class="button">
            <span class="button__inner">
              <%= image_tag "contact.svg", width: 64, class: "button__image", alt: "" %>
              <span class="button__text">Get in touch</span>
            </span>
          </a>
        </div>
        <div class="button-shadow"></div>
      </div>
    </div>
    <div class="[ grid__col grid__col--half ]">
      <p>Currently a design systems engineer helping people design better at <a href="https://invisionapp.com" class="text-link" rel="nofollow">InVision</a>.</p>
    </div>
    <div class="[ grid__col grid__col--half ]">
      <p>Previously worked with Wonderbly, Vanity Fair, Great Little Place, Glamour, and Discovery Network.</p>
    </div>
  </div>
</div><!-- .welcome -->
